root = true

[*.cs]

dotnet_analyzer_diagnostic.category-StyleCop.severity = warning
dotnet_analyzer_diagnostic.category-Microsoft.CodeAnalysis.severity = warning
dotnet_analyzer_diagnostic.category-Sonar.severity = warning

dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = true:warning